/* _iii.A */
/* 
    Created on : 30 nov 2022, 11:12:01
    Author     : adal
*/


/* _iii.B */


            
            /* _ii.E */
            h1 { 
                color: dodgerblue; 
            }
            /* ii.E_ */
            
            /* _ii.F */
            img {
                width: 400px;
            }
            /* ii.F_ */
            
            /* _ii.G */
            #thirdDiv {
                height: 600px;
                width: 500px;
                
                /* _ii.H */
                background-color: forestgreen;
                /* ii.H_ */
                
                /* _ii.K */
                padding: 50px;
                /* ii.K_ */
                
                /* _ii.L */
                border: 5px dashed;
                /* ii.L_ */
                
            }
            /* ii.G_ */
            
            /* _ii.I */
            #spanId {
                font-size: 18px;
                
                /* _ii.J */
                margin: 50px;
                /* ii.J_ */
            }
            /* ii.I_ */
            



/* iii.B_ */


/* iii.A_ */